.Hero-section{
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-top: 3rem;
}
/* @media screen and (max-width:43.75em){
  .Hero-section{
    text-align: center;
  }
} */

.hero-textbox{
 width: 80%;   
}

@media screen and (max-width:43.75em){
  .hero-img{
    width: 90vh;
  }
}
.hero-title{
  font-size: 5rem;  
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
@media screen and (max-width:37.5em){
  .hero-title{
    font-size: 3rem;
    /* width: 90vh; */
    /* text-align: center; */
  }
}
.hero_tagline{
    text-align: center;
    letter-spacing: 1.8px;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.hero_tagline-link{
   padding: .5rem 2rem;
   text-decoration: none; 
   background-color: green;
   color: white;
   font-weight: 600;
   text-transform: capitalize;
   letter-spacing: 1.5px;
   border-radius: 3px;
   display: block;
   margin: 1rem auto;
   width:max-content ;
}
.hero-img{
 width: 70rem; 
 box-shadow: 1rem 1rem 15rem green;  
 margin-top: 4rem;
 border-radius: 5px;
}
@media screen and (max-width:43.75em){
  .hero-img{
    width: 90vw;
  }
}